* {
    margin:0;
    padding:0;
    border:0;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.header {
    color:rgb(253, 189, 105); 
    display:flex;
    padding:20px 0px 0px 0px;
    gap:20px;
    align-items: center;
}

.header h1 {
    font-size: 3em;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-style: normal;
}

.header h2 {
    font-family: "Acme", serif;
    font-weight:300;
    font-style:italic;
    padding:10px 0px 0px 0px;
}

.reset {
    text-align:center;
}

.reset-button {
    padding:8px 20px;
    box-sizing: border-box;
    border:solid goldenrod 3px;
    background-color: antiquewhite;
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    vertical-align: top;
    border-radius:10px;
}

.container {
    display:flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 800px;
    background-color: hsl(0, 0%, 95%);
    margin:20px;
}

.wheels {
    width:1400px;
    display:flex;
    padding: 0px 0px 40px 0px;
    justify-content: space-between;
    align-items: flex-start;
}

.wheel-left {
    width:200px;
    height:200px;
    background-color:white;
    box-sizing: border-box;
    border:double grey 10px;
    border-radius:50%;
    margin-top:50px;
}

.wheel-right {
    width:200px;
    height:200px;
    background-color:white;
    box-sizing: border-box;
    border:double gray 10px;
    border-radius:50%;
    margin-top:50px;
}

.footer {
    color:antiquewhite;
    font-family: "Acme", sans-serif;
    font-size:1em;
    padding:0px 0px 10px 0px;
}

a {
    text-decoration: none;
    color:antiquewhite;
}