* {
    margin:0;
    padding:0;
    border:0;
}

body {
    display:flex;
    justify-content: center;
    background-color: red;
}

.container {
    display:flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 800px;
    background-color: gray;
    margin:100px;
}